body {
  margin-bottom: 90px;
}

h1 {
  font-family: 'Lane';
  font-size: 100px;
	color: white;
}

h2 {
  font-family: 'Lane';
}

@-webkit-keyframes fadeInOutDown {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

@-webkit-keyframes fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}

#skipModal {
    top: 25%;
}

.modal-body {
  background-color: #336699;
  color: white;
  font-size: 20px;
}

.modal-footer {
  background-color: black;
}

.message-one {
  margin-top: 100px;
  text-align: center;
  opacity: 0;
  animation: fadeInOutDown 3s;
}

.message-two {
  margin-top: 0px;
  text-align: center;
  opacity: 0;
  animation: fadeInOutDown 3s;
  animation-delay: 2s;
}

/* Genre selection box */
.selection-box {
  position: relative;
  margin: -275px auto auto auto;

  background-color: #336699;
  color: white;
  text-align: center;
	border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  animation: fadeIn 2s forwards;
}

.box-1 {
  width: 65%;
  height: 600px;
  opacity: 0;
  animation-delay: 5s;
}

.box-2 {
  width: 90%;
  height: 480px;
  opacity: 0;
  animation-delay: 0s;
}

.movie-box {
  width: 100%;
  margin-top: 20px;
  padding-left: 65px;
  height: 240px;
  float: left;
}

.movie {
  float: left;
  text-align: center;
  height: 230px;
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  text-overflow: ellipsis;
}

.movie > a  {
  text-decoration: none;
  color: white;
}

.moviePoster {
  width: 150px;
  height: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movieClicked {
  border: solid;
  border-width: 5px;
  border-color: white;
}

.movieTitle {
  margin-top: 3px;
  width: 160px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.selection-divider-upper {
	margin: 25px auto 5px auto;
	width: 80%;
	border-top: solid;
	border-color: white;
	border-width: 1px;
}

.selection-divider-lower {
	margin: 5px auto 25px auto;
	width: 80%;
	border-top: solid;
	border-color: white;
	border-width: 1px;
}

.genre-table {
  margin: auto;
}

.unclicked {
  color: white;
  background-color:transparent;
	border:2px solid #ffffff;
}

.unclicked:hover {
  border:2px solid #ffffff;
  background-color: #5B84AD;
}

.clicked, .clicked:focus {
  color: black;
  background-color: white;
}

.clicked:hover {
  background-color: #e8e8e8;
}

.btn, .btn:focus  {
  margin: auto;
}

td {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
  padding-top: 30px;
}

.genre-btn {
  min-width: 110px;
}

.completion-buttons {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 20px;
}

.button-divider {
  display: inline-block;
  background: white;
  width: 10px;
  height: 0px;
}

.menu-btn {
	color: white;
  height: 40px;
  width: 100px;
	background-color:transparent;
	border:2px solid #ffffff;
}

.menu-btn:hover  {
	border:2px solid #ffffff;
	background-color: #5B84AD;
}


#close {
  color: black;
  background-color: white;
  width: 100px;
}

#continue {
	color: white;
	text-align: center;
	cursor: pointer;
}
