@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .my-cloak {
  display: none !important;
}

body {
  margin-bottom: 90px;
}

h1 {
	font-family: 'Lane', sans-serif;
	font-weight: 600;
	color: white;
}

#headdiv {
	margin-top: 70px;
	text-align: center;

	animation-name: fadeInDown;
	animation-duration: 1.5s;
}

#mrediv {
	margin-top: 15px;
	text-align: center;

  	animation-name: fadeInDown;
	opacity: 0;
	animation-delay: 0.5s;
  	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

#header {
	font-size: 100px;
}

#descript {
	margin-top: 15px;
	text-align: center;

    animation-name: fadeInDown;
	opacity: 0;
	animation-delay: 1s;
    animation-duration: 1.5s;
	animation-fill-mode: forwards;

}

#btndiv {
	margin-top: 25px;
	text-align: center;

  animation-name: fadeIn;
	opacity: 0;
	animation-delay: 2.0s;
    animation-duration: 1.5s;
	animation-fill-mode: forwards;

}

.btn {
	height:75px;
    width:200px;
	font-size: 25px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	background-color:transparent;
	border:2px solid #ffffff;
}
.btn:hover {
	border:2px solid #ffffff;
	background-color: #000000;
	opacity: 0.6;
}

#signup {
	background-color: transparent;

}
#login {
	background-color: transparent;
}

#contdiv {
	margin-top: 20px;
	text-align: center;
	animation-name: fadeIn;
	opacity: 0;
	animation-delay: 2.5s;
    animation-duration: 2.5s;
	animation-fill-mode: forwards;
}

#link {
	font-family: sans-serif;
	color: white;
	text-align: center;
	cursor: pointer;
}

.divider{
    width:10px;
	display:inline-block;
}
