html {
  position: relative;
  min-height: 100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


body {
  margin-bottom: 90px;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes fontfix{
    from{   opacity: 1; }
    to{ opacity: 1; }
}

a {
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #336699;
  padding-top: 11px;
}

.navbarbuttonhover{
  cursor:pointer;
}
.navbar-right ol {
  float: right;
}
.navbar-right li:hover,
.navbar-right li:focus{
  color: black;
  background-color: white;
}

.custom-button :hover,
.custom-button :focus{
  color: black;
  background-color: white;
}

.navbar-fixed-left {
    width: 120px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background-color: #A7A8AC;
}
.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 120px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}
.custom-search {
  display:inline-block;
  width: 35%;
  vertical-align: middle;
  height: 22px;
  margin-top: 9px;
  
  margin-left: 9px;
  float:left;
/*  font-size: 15px;
  line-height: 1.42857143;
  color: #2b3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000000;
  border-radius: 0;*/

}
.custom-inline li{
  float :left ;
}

.custom-right li {
  float:right;
}

.logoAlign{
  height: 30px;
  display: block;
  margin: 0 auto;
}

.navbar-custom{
    display: inline-block; 
    white-space:nowrap;
}