.movie_poster {
	width: 300px;
	margin: 10px 50px 0px 50px;
	padding:1px;
	border:2px solid #021a40;
	background-color:#FFFFFF;
}

#left {
	float: left;
	display: inline-block;
}

.movie_title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	color: white;
}

.background {
	background-color: #336699;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:100px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie_details {
	color: white;
	margin-right: 50px;
	margin-left: 400px;
	margin-bottom: 50px;
}

.movie_description {
	margin-top: 80px;
}

.movie_cast, .movie_director, .movie_genres, .movie_duration{
	margin-top: 30px;
}

.like_button {
	margin: 5px 0px 30px 145px;
}
#rating_div {
	color: white;
}

#rateYo {
	margin: 50px 0px 0px 70px;
	display: inline-block;
}

#rating_text {
	display: inline-block;
}

#slash_10 {
	display: inline-block;
	color: white;
}

.clear {
	clear:both;
}

.horizontal_scroll {
	overflow-x: scroll;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}
.tooltip_templates {
  display:none;
}
img:hover{
	cursor: pointer;
}
body {
  margin-bottom: 90px;
}
.padded {
  padding-top: 30px
}

.btn {
	width: 100px;
}

h1, h2 {
    font-family: 'Lane';
    font-weight: 600;
    color: white;
}

.jumbotron {
	background-color: #336699;
  width: 100%;
  height: 350px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.unclicked {
  background-color: white;
}

.unclicked:hover, .unclicked:focus {
  background-color: #d3d3d3;
}

.clicked {
  background-color: #33CCCC;
}

.clicked:hover {
  background-color: #33CCCC`;
}

.getiton {
	padding:  0 10px 0 10px;
	display: table-cell;
}

.getiton: hover {
	cursor: pointer;
}

.btn-table {
	float: center;
	display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.movie {
	display:inline-block;
	text-align: center;
	width: 160px;
	margin-left: 10px;
	margin-right: 10px;
}

.moviePoster {
  width: 150px;
  height: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movieTitle {
	text-decoration: none;
	color: white;
  margin-top: 3px;
  width: 160px;
  height: 40px;
	font-size: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}