.movie_poster {
	width: 300px;
	margin: 10px 50px 0px 50px;
	padding:1px;
	border:2px solid #021a40;
	background-color:#FFFFFF;
}

#left {
	float: left;
	display: inline-block;
}

.movie_title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

.background {
	background-color: #002145;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:100px;
	float: left;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

.movie_details {
	color: white;
	margin-right: 50px;
	margin-left: 400px;
	margin-bottom: 50px;
}

.movie_description {
	margin-top: 80px;
}

.movie_cast, .movie_director, .movie_genres, .movie_duration{
	margin-top: 30px;
}

.like_button {
	margin: 5px 0px 30px 145px;
}
#rating_div {
	color: #33CCCC;
}

#rateYo {
	margin: 50px 0px 0px 70px;
	display: inline-block;
}

#rating_text {
	display: inline-block;
}

#slash_10 {
	display: inline-block;
	color: white;
}

.clear {
	clear:both;
}

.horizontal_scroll {
	overflow-x: scroll;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}
.tooltip_templates {
  display:none;
}
img:hover{
	cursor: pointer;
}
body {
  margin-bottom: 90px;
}
.padded {
  padding-top: 30px
}

.moviePoster {
  width: 150px;
}

.btn {
	width: 100px;
}

.jumbotron {
	background-color: #002145;
}

.unclicked {
  background-color: white;
}

.unclicked:hover, .unclicked:focus {
  background-color: #d3d3d3;
}

.clicked {
  background-color: #33CCCC;
}

.clicked:hover {
  background-color: #33CCCC`;
}

.getiton {
	padding:  0 10px 0 10px;
	display: table-cell;
}

.getiton: hover {
	cursor: pointer;
}

.table1 {
	float: center;
	display: block;
    margin: 0 auto;
    margin-bottom: 50px; 
}