
.moviePosterSearch {
	width: 140px;
	border:15px solid transparent;
}

.movieSearchDescription{
   -webkit-flex-wrap: wrap;
}

.MovieSearchTitleText{
	color: white;
}
.MovieSearchTitleText hover,
.MovieSearchTitleText focus{
	color: #E9E9E9;
}

.left_parent{
 	width: 160px;
 	float:left;

 }
.left_child{
	padding-left: 30px;
	margin-left: 160px;
	width: 85%;

}



