<html ng-app="index.account">
<head>
	<link rel="stylesheet" href="../css/superhero-style.css">
	<link rel="stylesheet" href="/css/account-style.css">
	<link rel="stylesheet" href="/css/index-style.css">

</head>

<body>
	<div class="container">
		<h3 style="color:#E9E9E9">Account Settings</h3>
	</div>
	<div class=" container" ng-controller="account" style="color:#E9E9E9">
		<div ng-controller="account-controller">
			<div class="container"><hr>
				<div class="col-xs-4 col-xs-offset-1">Username</div>
				<div class="col-xs-4">{{username}}</div>
				<br><hr class="horizonal-line">
			</div>
			<div class="container">
				<div class="col-xs-4 col-xs-offset-1">First Name</div>
				<div class="col-xs-4">{{firstName}}</div>
				<a class="glyphicon glyphicon-pencil right " ng-click="goResetName()"></a>
				<br/><hr class="horizonal-line">
			</div>
			<div class="container">
				<div class="col-xs-4 col-xs-offset-1">Last Name</div>
				<div class="col-xs-4">{{lastName}}</div>
				<a class="glyphicon glyphicon-pencil right " ng-click="goResetName()"></a>
				<br/><hr class="horizonal-line">
			</div>
			<div class="container">
				<div class="col-xs-4 col-xs-offset-1">Email</div>
				<div class="col-xs-4">{{email}}</div>
				<a class="glyphicon glyphicon-pencil right " ng-click="goResetEmail()"></a>
				<br/><hr class="horizonal-line">
			</div>
			<div class="container">
				<div class="col-xs-4 col-xs-offset-1">Password</div>
				<div class="col-xs-4">********</div>
				<a class="glyphicon glyphicon-pencil right " ng-click="goResetPassword()">
				</a><br/><hr>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>