<html ng-app="accsetup">
  <head>
  	<link rel="stylesheet" href="../css/superhero-style.css">
    <link rel="stylesheet" href="../css/accsetup-style.css">
  </head>

  <body ng-controller="accsetup">
		<div class="container">
			<div class="message-one">
				<h1>welcome to MRE!</h2>
			</div>

			<div class="message-two">
				<h1>let's get started</h2>
			</div>

			<div class="selection-box" ng-controller="accsetup-controller">
				<h2 id="genre-header">pick some genres you like</h2>

				<div class="selection-divider"></div>

				<table class="genre-table">
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("action")		 	ng-class="actionState ? 'clicked' : 'unclicked'">Action</td>
						<td><button class="btn genre-btn" ng-click=genreClick("adventure") 	ng-class="adventureState ? 'clicked' : 'unclicked'">Adventure</td>
						<td><button class="btn genre-btn" ng-click=genreClick("animation") 	ng-class="animationState ? 'clicked' : 'unclicked'">Animation</td>
					</tr>
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("biography") 	ng-class="biographyState ? 'clicked' : 'unclicked'">Biography</td>
						<td><button class="btn genre-btn" ng-click=genreClick("comedy") 		ng-class="comedyState ? 'clicked' : 'unclicked'">Comedy</td>
						<td><button class="btn genre-btn" ng-click=genreClick("crime") 			ng-class="crimeState ? 'clicked' : 'unclicked'">Crime</td>
					</tr>
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("drama") 			ng-class="dramaState ? 'clicked' : 'unclicked'">Drama</td>
						<td><button class="btn genre-btn" ng-click=genreClick("family")		 	ng-class="familyState ? 'clicked' : 'unclicked'">Family</td>
						<td><button class="btn genre-btn" ng-click=genreClick("fantasy") 		ng-class="fantasyState ? 'clicked' : 'unclicked'">Fantasy</td>
					</tr>
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("filmnoir") 	ng-class="filmnoirState ? 'clicked' : 'unclicked'">Film-Noir</td>
						<td><button class="btn genre-btn" ng-click=genreClick("history") 		ng-class="historyState ? 'clicked' : 'unclicked'">History</td>
						<td><button class="btn genre-btn" ng-click=genreClick("horror") 		ng-class="horrorState ? 'clicked' : 'unclicked'">Horror</td>
					</tr>
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("music") 			ng-class="musicState ? 'clicked' : 'unclicked'">Music</td>
						<td><button class="btn genre-btn" ng-click=genreClick("musical") 		ng-class="musicalState ? 'clicked' : 'unclicked'">Musical</td>
						<td><button class="btn genre-btn" ng-click=genreClick("mystery") 		ng-class="mysteryState ? 'clicked' : 'unclicked'">Mystery</td>
					</tr>
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("romance") 		ng-class="romanceState ? 'clicked' : 'unclicked'">Romance</td>
						<td><button class="btn genre-btn" ng-click=genreClick("scifi") 			ng-class="scifiState ? 'clicked' : 'unclicked'">Sci-Fi</td>
						<td><button class="btn genre-btn" ng-click=genreClick("sport") 			ng-class="sportState ? 'clicked' : 'unclicked'">Sport</td>
					</tr>
					<tr>
						<td><button class="btn genre-btn" ng-click=genreClick("thriller") 	ng-class="thrillerState ? 'clicked' : 'unclicked'">Thriller</td>
						<td><button class="btn genre-btn" ng-click=genreClick("war") 				ng-class="warState ? 'clicked' : 'unclicked'">War</td>
						<td><button class="btn genre-btn" ng-click=genreClick("western") 		ng-class="westernState ? 'clicked' : 'unclicked'">Western</td>
					</tr>
				</table>

				<div class="selection-divider"></div>

				<div class="completion-buttons">
					<button class="btn btn-default" id="next" ng-click="next()">Next</button>
					<div class="button-divider"> </div>
					<a id="continue" ng-click="continue()">or skip</a>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  </body>
</html>
