<html>
<head>

	<link rel="stylesheet" href="../css/superhero-style.css">
	<link rel="stylesheet" href="../css/dashboard-styles.css">
	<link rel="stylesheet" href="../css/tooltips-style.css">

</head>

<body>
	<div class="container" ng-controller="dashboard-controller">

		{{userID}}
		<button ng-show="loggedin" class="btn done" ng-click="reset()">Log out</button>

		<h3>Dashboard</h3>

		<div class="form-group">
			<label class="control-label">Search</label>
			<div class="input-group">
				<input type="search_query" id="search_query" class="form-control" name="search_query" ng-model="search_query"/>
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="search()" type="button">Search</button>
				</span>
			</div>
		</div>

		<h3>Recommended</h3>
		<div class="pre-scrollable jumbotron">

			<a ng-click="gotoMovie()"><img src="../images/Kong.png" class="tooltip-custom moviePoster" data-tooltip-content=".tooltipInfo" /></a>
			&emsp;&emsp;
			<img src="../images/Logan.png" class="tooltip-custom moviePoster" data-tooltip-content=".tooltipInfo" />
			&emsp;&emsp;
			<img src="../images/GotG2.png" class="tooltip-custom moviePoster" data-tooltip-content=".tooltipInfo" />
			<hr/>

		</div>
		<p><a class="btn btn-primary btn-sm">More Recommended For You..</a></p>

		<h3>Trending</h3>
		<div class="jumbotron pre-scrollable">
			<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
			</p>
		</div>
		<p><a class="btn btn-primary btn-sm">More Trending</a></p>

		<h3>Top Rated</h3>
		<div class="pre-scrollable jumbotron">
			<p>
			Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.asd Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui
			</p>
		</div>
		<p><a class="btn btn-primary btn-sm">More Top Rated</a></p>

		<div class="tooltip_templates">
			<div class="tooltipInfo" >
				<p>
					Movie Title: Blah
					<br/>
					Movie Description: Blah Blah
					<br/>
					Stuff...
					<br/>
					Rating...
					<br/>
					link: <a href="www.google.ca">Google</a>
				</p>
			</div>
		</div>

	</div>

</body>

</html>
