<html ng-app="dashboard">
<head>
	<link rel="stylesheet" href="../css/superhero-style.css">
	<link rel="stylesheet" href="../css/dashboard-style.css">
	<link rel="stylesheet" href="../css/loader-style.css">
	<link rel="stylesheet" href="../css/tooltips-style.css">
	<link rel="stylesheet" href="../css/fonts.css">
	<link rel="stylesheet" href="../css/tooltipster-borderless.css">

</head>

<body>
	<div class="container" ng-controller="search">
		<div ng-controller="dashboard-controller">
			<div class="form-group">
				<div class="input-group">
					<input class="form-control" type="text" name="searchString" placeholder="Search for a movie here.."
					ng-model="searchString" ng-src="{{searchString}}" ng-keyup="$event.keyCode == 13 ? search() : null" />
					<!-- <span class="input-group-btn">
						<button class="btn btn-default" ng-click="search()" type="button">Search</button>
					</span> -->
				</div>
			</div>
		</div>
	</div>

	<div class="container" ng-controller="dashboard">
		<div ng-controller="dashboard-controller">
			<h2 ng-show="recShow">Your Recommendations</h2>
			<div class="movie-box" ng-show="recShow">
				<div class="button-col" ng-show="recGet">
					<a ng-click="scrollLeft('rec')" style="align:left">
						<img src="../images/left-arrow.png" height="120px" width="120px"/>
					</a>
				</div>
				<div class="movie-col" ng-show="recGet">
					<div class="loader dash" ng-show="recMovieStore.length == 0"></div>
					<div class="movie" ng-repeat="movie in recMovieDisplay">
						<a ng-click="gotoMovie(movie.id)">
							<img src="{{movie.poster}}" class="moviePoster"/>
							<p class="movieTitle">{{movie.title}}</p>
						</a>
					</div>
				</div>
				<div class="button-col" ng-show="recGet">
					<a ng-click="scrollRight('rec')">
						<img src="../images/right-arrow.png" height="120px" width="120px"/>
					</a>
				</div>
				<h2 ng-show="!recGet"><br/><br/>No preferences set up! <br/><br/> Go like a movie or set up your preferences in your profile!</h2>
			</div>

			<h2>Popular</h2>
			<div class="movie-box">
				<div class="button-col">
					<a ng-click="scrollLeft('pop')" style="align:left">
						<img src="../images/left-arrow.png" height="120px" width="120px"/>
					</a>
				</div>
				<div class="movie-col">
					<div class="loader dash" ng-show="popMovieStore.length == 0"></div>
					<div class="movie" ng-repeat="movie in popMovieDisplay">
						<a ng-click="gotoMovie(movie.id)">
							<img src="{{movie.poster}}" class="moviePoster"/>
							<p class="movieTitle">{{movie.title}}</p>
						</a>
					</div>
				</div>
				<div class="button-col">
					<a ng-click="scrollRight('pop')">
						<img src="../images/right-arrow.png" height="120px" width="120px"/>
					</a>
				</div>
			</div>

			<h2>Now Playing</h2>
			<div class="movie-box">
				<div class="button-col">
					<a ng-click="scrollLeft('now')" style="align:left">
						<img src="../images/left-arrow.png" height="120px" width="120px"/>
					</a>
				</div>
				<div class="movie-col">
					<div class="loader dash" ng-show="nowMovieStore.length == 0"></div>
					<div class="movie" ng-repeat="movie in nowMovieDisplay">
						<a ng-click="gotoMovie(movie.id)">
							<img src="{{movie.poster}}" class="moviePoster"/>
							<p>{{movie.title}}</p>
						</a>
					</div>
				</div>
				<div class="button-col">
					<a ng-click="scrollRight('now')">
						<img src="../images/right-arrow.png" height="120px" width="120px"/>
					</a>
				</div>
			</div>
			<div class="tooltip_templates">
				<div class="tooltipInfo">
					<p style="font-size:24px; margin-top:5px"> m0.title </p>
					<p>Rating: m0.rating /10</p>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>

</html>
