<!DOCTYPE html>
<html ng-app="home" ng-cloak>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
		crossorigin="anonymous">
		
		<link rel="stylesheet" href="/css/superhero-style.css">
		<link rel="stylesheet" href="/css/home-style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	</head>
	<body>
		<div class="container wrap">
			<div id="headdiv">
				<h2>welcome to</h2>
			</div>
			
			<div id="mrediv">
				<h1 id="header">MRE</h1>
			</div>

			<div id="descript">
				<h2>a media recommendation engine</h2>
			</div>

			<div id="btndiv">
				<button class="btn btn-default" id="signup" ng-click="toSignUp()">sign up</button>
			</div>
			<div id="btndiv">
				<button class="btn btn-default" id="login" ng-click="toLogin()">login</button>
			</div>
			
			<div id="contdiv">
				<a id="link" ng-click="continue()">or continue without logging in</a>
			</div>
		</div>
	</body>
	
</html>
	
	