<!DOCTYPE html>
<html ng-app="home" ng-cloak>
	<head>
		<link rel="stylesheet" href="/css/superhero-style.css">
		<link rel="stylesheet" href="/css/home-style.css">
	</head>
	<body>
		<div class="container">
			<div id="headdiv">
				<h2>welcome to</h2>
			</div>

			<div id="mrediv">
				<h1 id="header"><img src="../images/MRELogo1.png"  style="width:400px"/></h1>
			</div>

			<div id="descript">
				<h2>a media recommendation engine</h2>
			</div>

			<div id="btndiv">
				<button class="btn btn-default" id="signup" ng-click="toSignUp()">sign up</button>
			</div>
			<div id="btndiv">
				<button class="btn btn-default" id="login" ng-click="toLogin()">login</button>
			</div>

			<div id="contdiv">
				<a id="link" ng-click="continue()">or continue without logging in</a>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	</body>
</html>
