<html>
<head>
	<link rel="stylesheet" href="../css/fonts.css">
	<link rel="stylesheet" href="../css/superhero-style.css">
	<link rel="stylesheet" href="../css/movie-style.css">
	<link rel="stylesheet" href="../css/loader-style.css">
	<link rel="stylesheet" href="../css/fonts.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
</head>

<body>

	<div class="container" ng-controller="movie">

		<div ng-controller="movie-controller">

		<div class="loader center" ng-show="doneload == false"></div>

		<div ng-hide="doneload == false">

			<h1 class="movie_title"><b>{{title}}</b> ({{date}})</h1>

			<div class="background">

				<div id="left">
					<div id="rating_div">
						<div id="rateYo"></div>
						<!-- <div id="rating_text"></div> -->
						{{rating}}
						<div id="slash_10"><small>/10</small></div>
					</div>
					<img src="{{poster}}" class="movie_poster"/>

					<div class="rating like_button">
						<button id="likeButton" class="btn" ng-click=like() ng-class="likeState ? 'clicked' : 'unclicked'">
							<div class="glyphicon glyphicon-thumbs-up"></div>
							&nbsp;
							{{likeText}}
							&nbsp;
							{{likes}}
						</button>
					</div>
				</div>

				<div class="movie_details">
					<div class="movie_description">
						<h4><b>Movie Description</b></h4>
						<p class="description">
						{{overview}}
						</p>
					</div>

					<div class="movie_director">
						<h4><b>Director(s)</b></h4>
						<p class="director">
						{{director}}
						</p>
					</div>

					<div class="movie_cast">
						<h4><b>Cast</b></h4>
						<p class="cast">
						{{cast}}
						</p>
					</div>

					<div class="movie_genres">
						<h4><b>Genres</b></h4>
						<p class="genres">
						{{genres}}
						</p>
					</div>

					<div class="movie_duration">
						<h4><b>Duration</b></h4>
						<p class="duration">
						{{duration}}
						</p>
					</div>
				</div>

				<div style="clear:both"></div>


				<div class="btn-table" style="display: table;">
					<div style=" display: table-row">
						<div class="getiton" ng-click="gotoMicrosoft()" ng-show="microsoft.button"> <img src="../images/microsoft.png" width="100px"> </div>
						<div class="getiton" ng-click="gotoNetflix()" ng-show="netflix.button"> <img src="../images/netflix.png" width="100px"></div>
						<div class="getiton" ng-click="gotoGoogle()" ng-show="google.button"> <img src="../images/googleplay.png" width="120px"></div>
						<div class="getiton" ng-click="gotoItunes()" ng-show="itunes.button"> <img src="../images/itunes.png" width="100px"></div>
						<div style="filter: invert(100%)" class="getiton" ng-click="gotoPlaystation()" ng-show="playstation.button"> <img src="../images/playstation.png" width="150px"></div>
					</div>
				</div>
			</div>

			<h1>Related Movies</h1>
			<div class="horizontal_scroll jumbotron">

				<a ng-click="gotoMovie(relatedMovie.id)" ng-repeat="relatedMovie in relatedMovies">
					<img src="{{relatedMovie.poster}}" class="moviePoster"/>
					&emsp;
				</a>

			</div>

		</div>

		</div>

	</div>

</body>

</html>
