 <html ng-app="email">
	<head>
		<link rel="stylesheet" href="../css/superhero-style.css">
		<link rel="stylesheet" href="../css/resetEmail-style.css">
	</head>

	<body>
		<div class="container" ng-controller="email">
			<div class="email-box" ng-controller="email-controller">
				<h1>Reset Email</h1>

				<div class="divider"></div>

				<form class="form-register" method="post" name="register" novalidate>


					<div class="inputdiv" ng-class="{'has-error': register.email.$invalid && register.email.$dirty, 'has-success': !register.email.$invalid}" >
						<input type="email" class="form-control" name="email" placeholder="new email"
						ng-model="email" ng-focus="emailFocus=true" ng-blur="emailFocus=false" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" required/>
					</div>

					<p class="alert alert-danger" ng-show="(form-register.email.$error.email || form-register.email.$error.pattern) && !emailFocus">Your email is invalid.</p>

					<div class="divider"></div>

					<div class="inputdiv" ng-class="{'has-error': register.password.$error.minlength && register.password.$dirty, 'has-success': !register.password.$error.minlength && register.password.$dirty}">
						<input type="password" id="password" class="form-control" name="password" placeholder="password"
						ng-model="password" ng-focus="pwFocus=true" ng-blur="pwFocus=false" ng-minlength='6' required />
					</div>

					<p class="alert alert-danger" ng-show="(form-register.password.$error.minlength || form.password.$invalid) && !pwFocus">Your password must be at least 6 characters.</p>

					<div class="divider"></div>

					<div class="inputdiv" ng-class="{'has-error': confirmpassword != password && register.confirmpassword.$dirty, 'has-success': confirmpassword == password && register.confirmpassword.$dirty}">
						<input type="password" id="confirmpassword" class="form-control" name="confirmpassword" placeholder="confirm password"
						ng-model="confirmpassword" ng-focus="cpwFocus=true" ng-blur="cpwFocus=false" pw-check required />
					</div>

					<p class="alert alert-danger" ng-show="confirmpassword != password && register.confirmpassword.$dirty && !cpwFocus">Your passwords must match.</p>

					<div class="divider"></div>

					<button class="btn" ng-click="goAccountSettings()">Cancel</button>
					<button ng-disabled="register.$invalid || confirmpassword != password || !register.confirmpassword.$dirty" class="btn" ng-keyup="$event.keyCode == 13 ? submit() : null" ng-click="submit()">Save</button>

					<div style="margin-top:20px"></div>

					
				</form>

			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	</body>
</html>
