	<html ng-app="index">
<head>
	<link rel="stylesheet" href="../css/superhero-style.css">
	<link rel="stylesheet" href="/css/account-style.css">
	<link rel="stylesheet" href="/css/resetPassword-style.css">

</head>

<body>
	<div class="container" >
		<h3>Reset Password</h3>
		<span class="col-md-2">Old Password</span>
		<input class="col-md-2" type="text" ng-model="oldPassword"><br><br>
		<span class="col-md-2">New Password</span>
		<input class="col-md-2" type="text" ng-model="newPassword"><br><br>
		<span class="col-md-2">Confirm Password</span>
		<input class="col-md-2" type="text" ng-model="confirmPassword"><br><br>
		<button class="waves-effect waves-light btn pull-right">Save</button>
		<button class="waves-effect waves-light btn pull-right" ng-click="goAccountSettings()">Cancel</button>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>